@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #f8fafc;
  color: #0f172a;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.u-k-header.is-open .u-k-header-background {
  left: 0;
}
.u-k-header-button-wrapper {
  margin-left: auto;
}
.u-k-header-icon {
  display: none;
}

.u-k-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.u-k-navigation-list.is-open {
  right: 0;
}
.u-k-header-icon-menu {
  display: block;
}

.u-k-header-icon-button.is-open .u-k-header-icon-menu {
  display: none;
}

.u-k-header-icon-button.is-open .u-k-header-icon-close {
  display: block;
}

.u-k-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 60px;
  backdrop-filter: blur(12px);
}

.u-k-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  backdrop-filter: blur(12px);
}
.u-k-header.is-open .u-k-header-background {
  left: 0;
}
.u-k-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.u-k-header-icon-menu {
  display: block;
}

.u-k-header-icon-button.is-open .u-k-header-icon-menu {
  display: none;
}

.u-k-header-icon-button.is-open .u-k-header-icon-close {
  display: block;
}

.u-k-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px;
  position: relative;
}

.u-k-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: auto;
  transition: 0.3s;
  z-index: 999;
  padding: 69px 0px;
  border-radius: 0px 0px 20px 20px;
  gap: 42px;
  background: #f8fafc;
}

.u-k-navigation-list.is-open {
  right: 0;
}

.u-k-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #0f172a;
  font-family: Unbounded;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;

  padding-top: 18px;
  padding-right: 42px;
  padding-bottom: 18px;
  padding-left: 42px;
  gap: 10px;
  border-radius: 42px;
}

.u-k-navigation-link:hover,
.u-k-navigation-link:focus {
  color: #ffffff;
  background: #0019ff;
}

.u-k-header.is-open {
  background-color: transparent;
}
.u-k-navigation-img {
  margin-bottom: 30px;
}

@media screen and (min-width: 1205px) {
  .u-k-navigation-img {
    margin: 0;
    margin-right: 80px;
    margin-left: 80px;
  }
  .u-k-header-icon-title {
    display: none;
  }
  .u-k-header-button-wrapper {
    display: none;
  }
  .u-k-header {
    width: 100%;
    height: 80px;
    backdrop-filter: blur(22px);

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .u-k-header-background {
  }
  .u-k-header-icon-button {
    display: none;
  }
  .u-k-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .u-k-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 20px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .u-k-navigation-link {
    margin: 0 20px;
  }

  .u-k-navigation-link:hover,
  .u-k-navigation-link:focus {
    color: #ffffff;
  }

  .u-k-navigation-item-desk {
    display: none;
  }
}
.u-k-home {
  width: 375px;
  height: 1186px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Frame\ 1321314639.png");
  margin: auto;
}
.u-k-home-container {
  width: 375px;
  padding: 82px 20px 0px;
  margin: auto;
}

.u-k-home-title {
  font-family: Unbounded;
  font-weight: 700;
  font-style: Bold;
  font-size: 42px;
  leading-trim: NONE;
  line-height: 50px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #0019ff;
}

.u-k-home-text {
  font-family: Unbounded;
  font-weight: 400;
  font-style: Regular;
  font-size: 22px;
  leading-trim: NONE;
  line-height: 30px;
  letter-spacing: 0%;
  padding: 42px 0 22px;
}
.u-k-home-text-two {
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 28px;
  letter-spacing: 0%;
  padding-bottom: 22px;
}
.u-k-home-link {
  height: 56px;
  transition: all 0.3s ease-in-out;
}

.u-k-home-link:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 1205px) {
  .u-k-home {
    width: 1440px;
    height: 1006px;
    background-image: url("/img/home/Frame\ 1321314640.png");
  }
  .u-k-home-container {
    width: 1440px;
    padding: 176px 80px 0px;
  }
  .u-k-home-title {
    font-family: Unbounded;
    font-weight: 700;
    font-style: Bold;
    font-size: 66px;
    leading-trim: NONE;
    line-height: 88px;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .u-k-home-text {
    width: 757px;
    font-family: Unbounded;
    font-weight: 400;
    font-style: Regular;
    font-size: 28px;
    leading-trim: NONE;
    line-height: 36px;
    letter-spacing: 0%;

    padding: 42px 0 22px;
  }
  .u-k-home-text-two {
    font-family: Roboto;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: 0%;
    width: 757px;
    padding-bottom: 22px;
  }
}
.u-k-why {
  background: #0f172a;
}

.u-k-why-container {
  width: 375px;
  margin: auto;
  padding: 100px 20px 100px;

  border-bottom-right-radius: 56px;
  border-bottom-left-radius: 56px;
  background: #f8fafc;
}
.u-k-why-title {
  font-family: Unbounded;
  font-weight: 400;
  font-style: Regular;
  font-size: 30px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #94a3b8;
}
.u-k-why-span {
  color: #0019ff;
}
.u-k-why-list {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  background: var(--Primary-Main, #0019ff);
  box-shadow: 20px 20px 40px 0px #70818833;
  padding: 80px 0;
  border-radius: 56px;

  border-left: 1px solid var(--Base-White, #ffffff);
}
.u-k-why-item {
  display: flex;
  flex-direction: column;
  background: var(--Blue-Gray-900, #0f172a);

  gap: 16px;
  border-bottom-width: 1px;
  padding: 24px;
  color: #ffffff;
  border-bottom: 1px solid var(--Base-White, #ffffff);
}
.u-k-why-img {
  width: 24px;
}
.u-k-why-text-bold {
  font-family: Unbounded;
  font-weight: 400;
  font-style: Regular;
  font-size: 26px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
  vertical-align: middle;
}
.u-k-why-text {
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  vertical-align: middle;
}

@media screen and (min-width: 1205px) {
  .u-k-why-container {
    width: 1440px;
    margin: auto;
    padding: 120px 20px 97px;
  }
  .u-k-why-title {
    font-family: Unbounded;
    font-weight: 400;
    font-style: Regular;
    font-size: 48px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    text-align: center;
  }

  .u-k-why-list {
    margin-top: 62px;
    display: flex;
    flex-direction: column;
  }
  .u-k-why-item {
    flex-direction: row;
    gap: 80px;
    padding-top: 56px;
    padding-right: 80px;
    padding-bottom: 56px;
    padding-left: 80px;
  }

  .u-k-why-text-bold {
    font-family: Unbounded;
    font-weight: 400;
    font-style: Regular;
    font-size: 34px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
    vertical-align: middle;
    width: 528px;
  }
  .u-k-why-text {
    font-family: Roboto;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
    vertical-align: middle;
    width: 528px;
  }
}

.u-k-uniqueness-container {
  margin: auto;
  width: 375px;
  padding: 0px 20px 100px;
}
.u-k-uniqueness-title {
  font-family: Unbounded;
  font-weight: 400;
  font-style: Regular;
  font-size: 30px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.u-k-uniqueness-list {
  padding-top: 31px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.u-k-uniqueness-item {
  border: 1px solid var(--Blue-Gray-500, #64748b);
  border-radius: 40px;
  padding: 40px;
  width: 335px;
  height: 263px;
}
.u-k-uniqueness-number {
  font-family: Unbounded;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  color: #0019ff;
}
.u-k-uniqueness-text-bold {
  font-family: Unbounded;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #1e293b;
  padding: 16px 0;
}
.u-k-uniqueness-text {
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #475569;
}
.u-k-home-link-uni {
  margin: 32px auto 0;
}
@media screen and (min-width: 1205px) {
  .u-k-uniqueness-container {
    margin: auto;
    width: 1440px;
    padding: 0px 80px 80px;
  }
  .u-k-uniqueness-title {
    font-family: Unbounded;
    font-weight: 400;
    font-style: Regular;
    font-size: 40px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    text-align: center;
  }
  .u-k-uniqueness-list {
    padding-top: 74px;
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
  .u-k-uniqueness-item {
    width: 314px;
    height: 263px;
    border-radius: 40px;
    border-width: 1px;
    padding: 40px;
  }

  .u-k-home-link-uni {
    margin: 54px auto 0;
  }
}
.u-k-how {
  background: #0f172a;
}
.u-k-how-container {
  margin: auto;
  width: 375px;
  height: 1390px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Block\ 4\ -\ Why\ BlitzFizu\ Is\ Different.png");
  padding: 100px 20px 0;
}
.u-k-how-title {
  font-family: Unbounded;
  font-weight: 400;
  font-style: Regular;
  font-size: 28px;
  leading-trim: NONE;
  text-transform: uppercase;
  color: #94a3b8;
}
.u-k-how-span {
  color: transparent;
  -webkit-text-stroke: 1px #94a3b8;
}
.u-k-how-list {
  padding-top: 329px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.u-k-how-item {
  border-bottom: 1px solid #ffffff;
  border-bottom-width: 1px;
  padding-bottom: 12px;
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
}
.u-k-how-div {
  margin-top: 32px;
  border-radius: 40px;
  padding: 40px;
  color: #ffffff;
  background: var(--Primary-Main, #0019ff);
}
.u-k-how-img {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 48px;
  leading-trim: CAP_HEIGHT;
  line-height: 140%;
  letter-spacing: 0%;
}

.u-k-how-text-bold {
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  vertical-align: middle;
  padding-bottom: 24px;
}

.u-k-how-text {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0.5%;
  text-align: right;
  vertical-align: middle;
  text-transform: uppercase;
  color: #e2e8f0;
}

@media screen and (min-width: 1205px) {
  .u-k-how-container {
    margin: auto;
    width: 1440px;
    height: 1000px;
    background-image: url("/img/Block\ 4\ -\ Why\ BlitzFizu\ Is\ Different\ \(1\).png");
    padding: 120px 80px 0;
  }
  .u-k-how-title {
    font-family: Unbounded;
    font-weight: 400;
    font-style: Regular;
    font-size: 48px;
    leading-trim: NONE;
    text-transform: uppercase;
  }

  .u-k-how-list {
    padding-top: 110px;
    padding-left: 516px;
    display: flex;
    flex-direction: column;
    gap: 22px;
  }

  .u-k-how-item {
    width: 617px;
    font-family: Roboto;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
  .u-k-how-div {
    margin-top: 32px;
    width: 886px;
    height: 181px;
    border-radius: 40px;
    padding: 40px;
    margin: 110px auto 0;
  }
  .u-k-how-img {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 48px;
    leading-trim: CAP_HEIGHT;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .u-k-how-text-bold {
    font-family: Roboto;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
    vertical-align: middle;

    padding-bottom: 24px;
  }

  .u-k-how-text {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0.5%;
    text-align: right;
    vertical-align: middle;
    text-transform: uppercase;
  }
}
.modal-form {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #222221;
  color: #fff;
  padding: 12px 24px;
  border-radius: 6px;
  font-size: 16px;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal-form.show {
  opacity: 1;
}

.hidden {
  display: none;
}

.u-k-features {
  background: linear-gradient(180deg, #0f172a 0%, #0019ff 100%);
}

.u-k-features-container {
  width: 375px;
  margin: auto;
  padding: 100px 20px;
  color: #ffffff;
  background: linear-gradient(180deg, #0f172a 0%, #0019ff 100%);
}
.u-k-features-title {
  font-family: Unbounded;
  font-weight: 400;
  font-style: Regular;
  font-size: 30px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.u-k-features-div {
  background: #64748b;
  gap: 40px;
  border-radius: 56px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.u-k-contact-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.u-k-features-input {
  border: none;
  border-bottom: 1px solid #ffffff;
  border-bottom-width: 1px;
  padding-bottom: 22px;
  background-color: transparent;
  width: 100%;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 26px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #ffffff;
}
.u-k-features-input::placeholder {
  color: #ffffff;
}
.u-k-features-textarea {
  border: 1px solid #ffffff;
  width: 287px;
  height: 188px;
  border-radius: 12px;
  padding-top: 22px;

  padding-left: 42px;
  border-width: 1px;
}
.u-k-features-button {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
}
.u-k-features-img {
  width: 287px;
  height: 320px;
  object-fit: cover;
  object-position: center;
  border-radius: 32px;
}
.u-k-features-div-two {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 6px 0 0 48px;
}
.u-k-features-div-item {
  display: flex;
  align-items: center;
  gap: 16px;
}
.u-k-features-div-item-text {
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #f8fafc;
  text-decoration: none;
}
@media screen and (min-width: 1205px) {
  .u-k-features-container {
    width: 1440px;
    margin: auto;
    padding: 120px 77px;
  }

  .u-k-features-title {
    font-family: Unbounded;
    font-weight: 400;
    font-style: Regular;
    font-size: 40px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .u-k-features-div {
    width: 1283;
    height: 668;
    top: 232px;
    left: 77px;
    angle: 0 deg;
    opacity: 1;
    gap: 40px;
    border-radius: 56px;
    padding-top: 60px;
    padding-right: 120px;
    padding-bottom: 60px;
    padding-left: 120px;

    flex-direction: row;
    margin-top: 62px;
  }

  .u-k-contact-form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 520px;
  }

  .u-k-features-textarea {
    width: 520px;
    height: 188px;

    border-radius: 12px;
    padding-top: 22px;

    padding-left: 42px;
    border-width: 1px;
  }
  .u-k-features-button {
    justify-content: start;
  }
  .u-k-features-img {
    width: 483px;
    height: 452px;
  }
  .u-k-features-div-two {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 6px 0 0 0px;
  }
}

.u-k-container {
  padding: 100px 20px 40px;
  width: 375px;
  margin: auto;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
}

.u-k-container h1 {
  font-family: Roboto;
  font-weight: 700;
  font-style: Bold;
  font-size: 26px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

.u-k-container h2 {
  margin-top: 10px;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
}

.u-k-container h3 {
  margin-top: 10px;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
}

.u-k-container ul {
  margin-top: 10px;
  list-style-type: disc;
  margin-left: 20px;
}

.u-k-container ul li {
  margin-bottom: 10px;
}
.u-k-container p {
  margin-top: 10px;
}
.u-k-container a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

.u-k-container a:hover {
  text-decoration: underline;
}

strong {
  color: #000;
}
@media screen and (min-width: 1205px) {
  .u-k-container {
    padding: 134px 86px 100px;
    width: 1440px;
    margin: auto;
  }
}

.u-k-footer-container {
  width: 375px;
  background: #0f172a;

  margin: auto;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 22px;
  color: #ffffff;
}

.u-k-footer-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.u-k-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
}

.u-k-footer-copyright {
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
}
.u-k-footer-img {
  width: 36px;
}
@media screen and (min-width: 1205px) {
  .u-k-footer-container {
    width: 1440px;
    padding: 39px 80px;
    display: flex;
    flex-direction: row-reverse;

    gap: 400px;
  }

  .u-k-footer-text {
    font-family: Roboto;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
  }

  .u-k-footer-copyright {
    font-family: Roboto;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
  }
}

.u-k-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 335px;
  padding: 22px;
  border-radius: 20px;
  box-shadow: 0px 14px 42px 0px #080f340f;
  border: 1px solid #0f172a;
  background: #f8fafc;

  z-index: 1000;
  display: none;
}

.u-k-cookie-popup-text-two {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 30px;
  letter-spacing: 0%;
  margin: 0 15px;
}

.u-k-cookie-button-container {
  padding: 37px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.u-k-cookie-button {
  border: none;
  background-color: transparent;
  box-shadow: 0px 4px 8px 0px #4a3aff14;
  border: 1px solid #0f172a;
  background: #f8fafc;

  border-radius: 56px;
  padding-top: 18px;
  padding-right: 26px;
  padding-bottom: 18px;
  padding-left: 26px;
  border-width: 1px;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 18px;
  letter-spacing: 0%;
  color: #0f172a;
}

#accept-cookies {
  background: #0f172a;
  color: #f8fafc;
}

.u-k-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1205px) {
  .u-k-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }

  .u-k-cookie-popup-text-two {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 30px;
    letter-spacing: 0%;

    width: 608px;
  }

  .u-k-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
  }

  .u-k-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1272px;
    padding: 32px 138px;
    display: none;
  }
}
